.btn3{

    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: black;
    position: absolute;
    bottom: 500px;
    left: 600px;

}

.btn3:hover{
    background-color: black;
}